
.SelectionFilter {
  width: 100%;
  height: 50px;

  padding: 14px 20px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--osnovnoy);
}

.SelectionFilter.active {
  background: var(--vtorichnyy-svetlo-seryy);
}

.SelectionFilter__text {
  white-space: nowrap;
}

.SelectionFilter__icon {
  flex-shrink: 0;
}
