.FilterPrice {
    width: 450px;
    height: 220px;

    padding: 30px 99px;

    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.FilterPrice__inputs {
    display: flex;
    gap: 12px;
}
.FilterPrice__slider {
    position: relative;
    width: 250px;
    height: 20px;
}


.FilterPrice__track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 250px;
    height: 0;
    border: 3px solid #8a7a92;
    border-radius: 20px;
}

.FilterPrice__range {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    height: 0;
    border: 3px solid var(--osnovnoy);
}


.FilterPrice__thumb {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    background: none;
    top: -3px;
}

.FilterPrice__thumb::-webkit-slider-thumb {
    pointer-events: auto;
    appearance: none;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    background: #2a0036;
    border: 3px solid var(--osnovnoy);
}

.left {
    z-index: 2;
}

.right {
    z-index: 3;
}