.FlowerFilter {
  width: 490px;
  height: 535px;

  padding: 30px;

  background: #fff;
  border-radius: 20px;
  border: none;

  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);

}

.FlowerFilter__gap {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.FlowerFilter__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 300px;
  overflow-y: auto; 
}

.FlowerFilter__divider {
  margin-top: auto;
  margin-bottom: 25px;

  width: 450px;
  height: 1px;

  background: rgba(33, 0, 48, 0.5);
}
