.cardProduct {
    border-radius: 15px;
    padding: 7px 0;
    background: #fff;
    position: relative;
}

.cardProduct__img {
    object-fit: cover;
    width: 100%;
    height: 223px;
    border-radius: 15px;
}

.cardProduct__like {
    position: absolute;
    top: 14px;
    right: 7px;
    border-radius: 50%;
    background: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    padding-top: 6px;
}

.cardProduct__box {
    padding: 10px 12px 0 12px;
}

.cardProduct__name {
    font-weight: 600;
    font-size: 12px;
    color: rgba(33, 0, 48, 0.5);
    display: flex;
    gap: 4px;
    margin-bottom: 7px;
}

.cardProduct__title {
    font-weight: 600;
    font-size: 16px;
    color: var(--osnovnoy);
    margin-bottom: 5px;
}

.cardProduct__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    margin-bottom: 12px;

    span {
        font-family: var(--second-family);
        font-weight: 600;
    }
}

.cardProduct__price {
    font-weight: 800;
    font-size: 18px;
    color: var(--osnovnoy);
}

.cardProduct__discount {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 12px;
    text-decoration: line-through;
    color: rgba(33, 0, 48, 0.5);
    margin-right: auto;
}

.cardProduct__rating {
    font-weight: 600;
    color: var(--vtorichnyy-zheltyy);
}

.cardProduct__cart {
    background: var(--osnovnoy-fioletovyy);
    border-radius: 13px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
}

.cardProduct__controls {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
    color: rgba(33, 0, 48, 0.5);

    button, p {
        border-radius: 10px;
        width: 45px;
        height: 49px;
        background: #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        font-size: 30px;
    }
}