.InputFilter {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}

.InputFilter input[type="checkbox"] {
    position: relative;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background: var(--vtorichnyy-temno-seryy);
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}

.InputFilter input[type="checkbox"]:checked {
    background: var(--osnovnoy-fioletovyy);
}


.InputFilter input[type="checkbox"]::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('../../assets/icons/tick.svg');
    background-size: 13px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.InputFilter input[type="checkbox"]:checked::before {
    opacity: 1;
}

.InputFilter label {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--vtorichnyy-chernyy);
    cursor: pointer;
    user-select: none;
}