.header {
  padding: 44px 0;
  background-color: #ffffff;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-left {
  margin-right: 34px;
}

.header__nav-text {
  font-weight: 500;
  font-size: 24px;
  color: #210030;
}

.header__nav-controls {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.header__nav-btn {
  border-radius: 9px;
  width: 62px;
  height: 62px;
  background-color: #e9e9e9;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.header__nav-btn:hover {
  background-color: #e9e9e9;
  filter: brightness(80%);
}

.header__nav-item {
  position: relative;
}

.header__nav-search {
  width: 320px;
  border-radius: 9px;
  background-color: #e9e9e9;
  border: none;
  padding: 23px 60px;
  color: #210030;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 0, 48, 0.5);
}
.header__nav-search::placeholder {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 0, 48, 0.5);
}

.header__nav-item-icon {
  position: absolute;
  top: 18px;
  left: 18px;
}

.header__nav-choose {
  display: flex;
  column-gap: 9.52px;
  align-items: center;
  border-radius: 9px;
  background-color: #e9e9e9;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__nav-choose:hover {
  background-color: #e9e9e9;
  filter: brightness(80%);
}

.header__nav-choose-texts-title {
  font-weight: 600;
  font-size: 10px;
  color: #210030;
}
.header__nav-choose-texts-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.19984;
  margin-top: 3.57px;
  color: #210030;
}
