.favorites-page {
  margin: 0 auto;
  width: 1220px;
}

.favorites-page__header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
  margin-bottom: 50px;
}

.favorites-page__header-container-btn {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.favorites-page__header-title {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
}

.favorites-page__header-text-btn {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.favorites-page__city-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  width: 200px;
}

.favorites-page__container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.favorites-page__header-subtitle {
  margin: 0;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.favorites-page__cards {
  width: 720px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
