.RangeInput {
  width: 120px;
  height: 50px;

  padding: 14px 10px;

  border: 1px solid rgba(33, 0, 48, 0.5);
  border-radius: 10px;

  background: #fff;
  outline: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 0, 48, 0.5);
}

.RangeInput::placeholder {
  color: rgba(33, 0, 48, 0.5);
}
