.ButtonSlider {
    border-radius: 17px;
    height: 54px;
    width: 60px;
    background-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonSlider_img {
    width: 15px;
    height: 23px;

}